Django==1.4.1
GnuPGInterface==0.3.2
PAM==0.4.2
Pygments==1.2.2
Twisted-Core==10.0.0
Twisted-Names==10.0.0
Twisted-Web==10.0.0
certifi==0.0.8
chardet==1.0.1
command-not-found==0.1
distribute==0.6.19
dj-database-url==0.2.1
dulwich==0.8.0
foolscap==0.5.1
hg-git==0.3.1
ipython==0.12
lxml==2.2.4
mercurial==1.4.3
pexpect==2.3
psycopg2==2.4.5
pyOpenSSL==0.10
pycurl==7.19.0
pyflakes==0.5.0
pyserial==2.3
python-apt==0.7.94.2ubuntu6.2
requests==0.10.2
rope==0.9.3
ropemode==0.1-rc2
ropevim==0.3-rc
ufw==0.30pre1-0ubuntu2
unattended-upgrades==0.1
virtualenv==1.6.4
virtualenvwrapper==2.11.1
wsgiref==0.1.2
wxPython==2.8.10.1
wxPython-common==2.8.10.1
zope.interface==3.5.3
