{% extends "resolver/base.html" %}

{%block library_name%}
Overview
{%endblock%}

{% block content %}

<p>
This is a simple link resolver using the 360Link API from Serials Solutions.
</p>

<p>To test from an existing OpenURL use this bookmarklet: <a id="codeOut1" href='javascript:(function(){window.location.href="http://localhost:8000/"+location.search;})();'>dj360link-openurl</a></p>

<p>To test from any page with embedded COinS use this bookmarkelet: <a id="codeOut" href="javascript:(function(){window.location.href=&quot;http://localhost:8000/?&quot;+document.getElementsByClassName('Z3988')[0].getAttribute('title');})();">dj360link-coins</a></p> 

<div>
        <form name="ourl" action="./" method="GET">
            <fieldset>
            <select name="qtype">
            <option value="query">OpenURL</option>
             <option value="pmid">PubmedID</option>
            <option value="doi">DOI</option>
            </select>    
            <input type="text" size="75">
            <input type="submit" value="Go">
            <p>Paste an OpenURL, Pubmed ID, or DOI into the box and click Go.</p>
            <hr/>
            <p>You can also add a customer code to see results for different libraries.</p>
            <input type="text" size="30" placeholder="Optional 360 Link customer code." value="{{ customer }}">
            
            </fieldset>
        </form>
</div>
{% endblock %}

{% block footer_javascript %}
<script>
$("form").submit(function() {
    //console.debug($('input'));
    var qtype = $('select').val();
    var q = $("input:first").val();
    var base = window.location.href;
    var customer = $("input:last").val();
    if (customer != "") {
        var customer_prefix = '/' + customer + '/' + url;
    } else {
        var customer_prefix = '';
    };
    if (qtype == 'query') {
        
        var url = window.location.href + customer_prefix + '?' + q;
        
    }
    else if (qtype == 'pmid') {
        var url = customer_prefix + '?pmid=' + q;
    }
    else if (qtype == 'doi') {
        var url = customer_prefix + '?doi=' + q;
    };
    window.location.href = url;
    return false;
});
</script>
{% endblock %}