{% extends "resolver/base.html" %}

{%block library_name%}
{% if customer %}
<a href="/{{ customer }}/">{{ library }}</a>
{% else %}
<a href="/">{{ library }}</a>
{%endblock%}

{% block content %}

<div>
    <h1>{{ citation.title }}</h1>

    <p>by {{ citation.creator }}</p>
    <p class="source"> {{ citation.source }}.  {{ citation.date }}.  pg. {{ citation.spage }}</p>
</div>

<div>
    {% if has_full_text %}
        <h3>Full text online</h3>
        <ul>
        {% for link in links %}
            <li><a href="{{ link.url.article }}">{{ link.holdingData.databaseName }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p class="msg"> No full text was found but you can place a <a href="#">request via Interlibrary Loan</a>.</p>
    {% endif %}

    <hr/>
    <h3>More</h3>
        <ul>
            {% if permalink %}
            <li><a href="{{ permalink }}">Permalink</a></li>
            {% endif %}
            <li><a href="http://www.refworks.com/express/expressimport.asp?{{ openurl }}">      Export to Refworks</a></li>
            {% if citation.doi %}
                <li><a href="http://scholar.google.com/scholar?cites=http://dx.doi.org/{{ citation.doi }}">Citing articles via Google Scholar</a></li>
            {% endif %}
        </ul>
</div>

{% endblock %}

{% block footer_javascript %}
<script>
$('p.msg a').click(function () {
    alert("Implement logic to place requests.")
});
</script>
{% endblock %}


